@font-face{
  font-family: 'Duke Fill';
  src: url('../fonts/df.eot?') format('eot'),
       url('../fonts/df.woff') format('woff'),
       url('../fonts/df.otf') format('opentype');
}

@font-face{
  font-family: 'Duke Shadow';
  src: url('../fonts/ds.eot?') format('eot'),
       url('../fonts/ds.woff') format('woff'),
       url('../fonts/ds.otf') format('opentype');
}
