@font-face{
  font-family: 'Duke';
  src: url('../fonts/Duke.otf') format('opentype');
}

@font-face{
  font-family: 'Duke Fill';
  src: url('../fonts/Duke-Fill.otf') format('opentype');
}

@font-face{
  font-family: 'Duke Shadow';
  src: url('../fonts/Duke-Shadow.otf') format('opentype');
}
