@font-face{
  font-family: 'Edmondsans Regular';
  src: url('../fonts/Edmondsans-Regular.eot?') format('eot'), url('../fonts/Edmondsans-Regular.otf') format('opentype');
}

@font-face{
  font-family: 'Edmondsans Bold';
  src: url('../fonts/Edmondsans-Bold.eot?') format('eot'), url('../fonts/Edmondsans-Bold.otf') format('opentype');
}
