@font-face{
  font-family: 'Duke';
  src: url('../fonts/d.eot?') format('eot'),
       url('../fonts/d.woff') format('woff'),
       url('../fonts/d.otf') format('opentype');
}

@font-face{
  font-family: 'Edmondsans Medium';
  src: url('../fonts/em.eot?') format('eot'),
       url('../fonts/em.woff') format('woff'),
       url('../fonts/em.otf') format('opentype');
}

@font-face{
  font-family: 'Lavanderia Regular';
  src: url('../fonts/lr.eot?') format('eot'),
       url('../fonts/lr.woff') format('woff'),
       url('../fonts/lr.otf') format('opentype');
}

@font-face{
  font-family: 'Mission Script';
  src: url('../fonts/ms.eot?') format('eot'),
       url('../fonts/ms.woff') format('woff'),
       url('../fonts/ms.otf') format('opentype');
}

@font-face{
  font-family: 'Wisdom Script';
  src: url('../fonts/ws.eot?') format('eot'),
       url('../fonts/ws.woff') format('woff'),
       url('../fonts/ws.otf') format('opentype');
}

