@font-face{
  font-family: 'Duke';
  src: url('../fonts/Duke.eot?') format('eot'), url('../fonts/Duke.otf') format('opentype');
}

@font-face{
  font-family: 'Edmondsans Medium';
  src: url('../fonts/Edmondsans-Medium.eot?') format('eot'), url('../fonts/Edmondsans-Medium.otf') format('opentype');
}

@font-face{
  font-family: 'Lavanderia Regular';
  src: url('../fonts/Lavanderia-Regular.eot?') format('eot'), url('../fonts/Lavanderia-Regular.otf') format('opentype');
}

@font-face{
  font-family: 'Mission Script';
  src: url('../fonts/Mission-Script.eot?') format('eot'), url('../fonts/Mission-Script.otf') format('opentype');
}

@font-face{
  font-family: 'Wisdom Script';
  src: url('../fonts/Wisdom-Script.eot?') format('eot'), url('../fonts/Wisdom-Script.otf') format('opentype');
}

