@font-face{
  font-family: 'Lavanderia Delicate';
  src: url('../fonts/ld.eot?') format('eot'),
       url('../fonts/ld.woff') format('woff'),
       url('../fonts/ld.otf') format('opentype');
}

@font-face{
  font-family: 'Lavanderia Sturdy';
  src: url('../fonts/ls.eot?') format('eot'),
       url('../fonts/ls.woff') format('woff'),
       url('../fonts/ls.otf') format('opentype');
}
