@font-face{
  font-family: 'Lavanderia Delicate';
  src: url('../fonts/Lavanderia-Delicate.otf') format('opentype');
}

@font-face{
  font-family: 'Lavanderia Sturdy';
  src: url('../fonts/Lavanderia-Sturdy.otf') format('opentype');
}
