* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body, input, textarea {
  margin: 0;
  padding: 0;
}

body, textarea {
  background: #303030;
  color: white;
/*  font-family: 'Edmondsans Medium', sans-serif;*/
}

body.duke, .duke textarea { font-family: 'Duke'; }
body.duke-shadow, .duke-shadow textarea { font-family: 'Duke Shadow'; }
body.duke-fill, .duke-fill textarea { font-family: 'Duke Fill'; }
body.edmondsans-regular, .edmondsans-regular textarea { font-family: 'Edmondsans Regular'; }
body.edmondsans-medium, .edmondsans-medium textarea { font-family: 'Edmondsans Medium'; }
body.edmondsans-bold, .edmondsans-bold textarea { font-family: 'Edmondsans Bold'; }
body.lavanderia-delicate, .lavanderia-delicate textarea { font-family: 'Lavanderia Delicate'; }
body.lavanderia-regular, .lavanderia-regular textarea { font-family: 'Lavanderia Regular'; }
body.lavanderia-sturdy, .lavanderia-sturdy textarea { font-family: 'Lavanderia Sturdy'; }
body.mission-script, .mission-script textarea { font-family: 'Mission Script'; }
body.wisdom-script, .wisdom-script textarea { font-family: 'Wisdom Script'; }

#the-textarea {
  border: none;
  text-align: center;
  width: 100%;
  height: 300px;
  font-size: 56px;
}

#font-selection {
  font-size: 16px;
}

#font-selection,
#font-selection ul {
  margin: 0;
  padding: 0;
}

#font-selection li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#font-selection .family {
  width: 200px;
  float: left;
}

#font-selection .family li {
  margin: 5px;
}

#font-selection a {
  padding: 5px;
  border: 1px solid;
  color: #FE8;
  display: block;
  text-decoration: none;
}

#font-selection a:hover {
  background: white;
  border-color: white;
  color: #303030;
}


/* ----------------- clearfix ----------------- */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
