body, input, textarea {
  margin: 0;
  padding: 0;
}

body, textarea {
  background: #303030;
  color: white;
  font-family: 'Edmondsans Medium', sans-serif;
  font-size: 32px;
}

#the-textarea {
  border: none;
  text-align: center;
  width: 100%;
  height: 300px;
}