* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body, input, textarea {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  padding: 10px;
  padding-bottom: 200px;
/*  min-height: 100%;*/
}

body, textarea {
  background: #303030;
  color: white;
  font-family: 'Edmondsans Medium', sans-serif;
}

a {
  color: #FE8;
  text-decoration: none;
}
a:hover { color: red; }

/* ----------------- text area ----------------- */

/* font in text area */
.duke textarea { font-family: 'Duke'; }
.duke-shadow textarea { font-family: 'Duke Shadow'; }
.duke-fill textarea { font-family: 'Duke Fill'; }
.edmondsans-regular textarea { font-family: 'Edmondsans Regular'; }
.edmondsans-medium textarea { font-family: 'Edmondsans Medium'; }
.edmondsans-bold textarea { font-family: 'Edmondsans Bold'; }
.lavanderia-delicate textarea { font-family: 'Lavanderia Delicate'; }
.lavanderia-regular textarea { font-family: 'Lavanderia Regular'; }
.lavanderia-sturdy textarea { font-family: 'Lavanderia Sturdy'; }
.mission-script textarea { font-family: 'Mission Script'; }
.wisdom-script textarea { font-family: 'Wisdom Script'; }


#the-textarea {
  border: none;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 56px;
  padding: 0.15em;
  display: block;
  border: 2px solid transparent;
}

#the-textarea:hover, #the-textarea:focus { border-color: white; }

/* ----------------- acquire ----------------- */

#acquire p {
  display: none;
  text-align: center;
}

#acquire p.is-active { display: block; }

/* ----------------- font selection ----------------- */

#font-selection {
  font-size: 16px;
/*  border-left: 1px solid; */
}

#font-selection,
#font-selection ul {
  margin: 0;
  padding: 0;
}

#font-selection li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#font-selection .family {
  width: 200px;
  float: left;
/*  border-top: 1px solid; */
}

#font-selection .family li {
  text-align: center;
/*  border-right: 1px solid; */
/*  border-bottom: 1px solid; */
}

#font-selection a {
  padding: 5px;
  color: #FE8;
  display: block;
  text-decoration: none;
}

#font-selection a:hover {
  background: white;
  border-color: white;
  color: #303030;
}

#font-selection .is-active a {
  background: red;
  color: white;
}


/* ----------------- font size ----------------- */

#font-sizer {
  position: relative;
  padding-left: 90px;
  padding-right: 70px;
  height: 20px;
  max-width: 700px;
  margin: 0 auto;
}


#font-sizer label,
#font-sizer .output {
  position: absolute;
  top: 0;

}
#font-sizer label { left: 7px; }
#font-sizer .output { right: 7px; }

#font-size {
}


/* ----------------- slider ----------------- */



.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }


.ui-slider {
  cursor: pointer;
  height: 16px;
  border: 2px solid;
}

.ui-slider .ui-slider-handle {
  height: 16px;
  width: 16px;
  background: white;
/*  border-radius: 50%;*/
}

.ui-slider-horizontal .ui-slider-handle { top: -2px; }

/* ----------------- clearfix ----------------- */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
