<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>JTE Types</title>

  <link rel="stylesheet" href="css/style.css" />

</head>
<body>

  <div id="textarea-wrap">
    <div id="the-textarea" contenteditable>Type here please</div>
  </div>

<div id="controls">
  <div class="clearfix">

    <div id="acquire">
      <%
        var family;
        for ( var familySlug in families ) {
          family = families[ familySlug ];
      %>
        <p class="<%= familySlug %>"><%= family.acquire %></p>
      <% } %>
    </div>

    <div id="font-sizer">
      <label for="font-size">Font size</label>
      <div id="font-size"></div>
      <span class="output"></span>
    </div>

  </div>

  <ul id="font-selection" class="clearfix">

    <%
      var family;
      for ( var familySlug in families ) {
        family = families[ familySlug ];
    %>
      <li class="family <%= familySlug %>">
        <h3>
          <a class="js-activate-font" href="#!/in:<%= family.primaryFont %>" data-font="<%= family.primaryFont.toLowerCase() %>"><%= family.title %></a>
        </h3>
        <ul>
          <%
            family.fonts.forEach( function( font, i ) {
              var hyphenatedFont = font.replace( / /g, '-' );
              var fontSlug = hyphenatedFont.toLowerCase();
          %>
            <li class="font <%= fontSlug %>">
              <a class="js-activate-font" href="#!/in:<%= hyphenatedFont %>/" data-font="<%= fontSlug %>"><%= font %></a>
            </li>
          <% }) %>
        </ul>
      </li>
    <% } %>
  </ul>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui-slider.min.js"></script>
<script src="modules/jquery-bbq/jquery.ba-bbq.min.js"></script>
<script src="site-data.js"></script>
<script src="js/script.js"></script>

</body>
</html>
