---
families:
  - slug: duke
    fonts:
      - Duke
      - Duke Fill
      - Duke Shadow
  - slug: edmondsans
    fonts:
      - Edmondsans Regular
      - Edmondsans Medium
      - Edmondsans Bold
  - slug: lavanderia
    fonts:
      - Lavanderia Delicate
      - Lavanderia Regular
      - Lavanderia Sturdy
  - slug: mission-script
    fonts:
      - Mission Script
  - slug: wisdom-script
    fonts:
      - Wisdom Script


---
<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <title>JTE Types</title>

  <link rel="stylesheet" href="css/style.css" />

</head>
<body>

  <h1>
    Say it
    with fonts from
    James T. Edmondson
  </h1>

  <textarea id="the-textarea">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. El llamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</textarea>


<div id="controls">
  <div class="clearfix">
    <p id="purchase">
      Purchase
    </p>
    <div id="font-sizer">
      <label for="font-size">Font size</label>
      <input id="font-size" type="range">
      <output></output>
    </div>
  </div>
  <ul id="font-selection" class="clearfix">
    {% for family in page.families %}
      <li class="family {{ family.slug }}" data-family="{{ family.slug }}">
        <ul>
          {% for font in family.fonts %}
            <li class="{{ font | downcase | replace:' ','-' }}"><a href="#!/in:{{ font | replace:' ','-' }}" data-font="{{ font | downcase | replace:' ','-' }}">{{ font }}</a></li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>

<script src="js/jquery.min.js"></script>
<script src="modules/jquery-bbq/jquery.ba-bbq.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>
